<% if user_signed_in? %>
  <div class="like-container">
    <% if post.liked_by?(current_user) %>
      <%= link_to post_likes_path(post), method: :delete, remote: true do %>
        <i class="fas fa-heart unlike-btn"></i>
      <% end %>
      <div class="unlike-count">
        <%= post.likes.count %>
      </div>
    <% else %>
      <%= link_to post_likes_path(post), method: :post, remote: true do %>
        <i class="far fa-heart like-btn"></i>
      <% end %>
      <div class="like-count">
        <%= post.likes.count %>
      </div>
    <% end %>
  </div>
<% end %>