<% if user_signed_in? %>
  <% if post.liked_by?(current_user) %>
    <span class="text-right">
      <%= link_to post_likes_path(post), method: :delete, remote: true do %>
        <i class="fas fa-heart unlike-btn"><%= post.likes.count %></i>
      <% end %>
    </span>
  <% else %>
    <span class="text-right">
      <%= link_to post_likes_path(post), method: :post, remote: true do %>
        <i class="far fa-heart like-btn"><%= post.likes.count %></i>
      <% end %>
    </span>
  <% end %>

<% end %>