<div class="container">
  <div class="row aline-item-center">
    <div class="col-md-12 mt-5">
      <h2 class="text-center font-weight-bold mb-4"><span class="text-light bg-warning">あにまるぼっくすとは？？？</span></h2>
        <p class="text-center font-weight-lighter">あにまるぼっくすは自分が飼っているペットを<br>
          他のユーザーに画像や動画で共有できたり、いいね、コメントで他ユーザーの投稿に<br>
        リアクションをすることも可能です！さらに気に入った方をフォローできる機能もありますので<br>
        そのかたの投稿をすぐに見つけることができます。ランキング機能もあるのであなたが気になる<br>
        動物の様々なランキングを作ってみることもできたりと、動物づくしのこのサイトで思う存分癒されてください♡</p>

    </div>
  </div>
</div>