<div class="main-image">
  <div class="container">
    <div class="row aline-item-center">
      <div class="col-md-12 mt-5 main-text">
        <h2 class="text-center font-weight-bold mb-4">AnimalBoxとは</h2>
          <p class="text-center font-weight-lighter">あにまるぼっくすは自分が飼っているペットを他のユーザーに<br>
            画像や動画で共有できたり、いいね、コメントで他ユーザーの投稿にリアクションをすることも可能です！<br>
          さらに気に入った方をフォローできる機能もありますのでそのかたの投稿をすぐに見つけることができます。<br>
          ランキング機能もあるのであなたが気になる動物の様々なランキングを作ってみることもできたりと、<br>
          動物づくしのこのサイトで思う存分癒されてください♡</p>
      </div>
    </div>
  </div>
</div>