
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="display-3 text-left giallo">animalbox</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-1 text-center totem">AnimalBox</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="display-4 text-right giallo">animalbox</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-5">
          <p class="text-center"><i class="fas fa-dog fa-2x mr-2" style="color: olive;"></i><%= link_to "新規会員登録はこちら", new_user_registration_path, class: 'btn btn-info' %><i class="fas fa-cat fa-2x ml-2" style="color: tan;"></i></p>

          <div id="container">
            <div id="theTarget">
              <div class="image1"></div>
              <div class="image2"></div>
              <div class="image3"></div>
              <div class="image4"></div>
              <div class="image5"></div>
            </div>
          </div>
      </div>
    </div>
  </div>