<%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <div class="container">
    <div class="card-container top-card">
      <div class="card-body box-card">
        <h2 class="card-title text-center mb-4 mt-1">ログイン</h2>
        <hr>
        <form>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-paw"></i>
              </span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'メールアドレス' %>
          </div><!-- input-group.// -->
        </div><!-- form-group.// -->

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-paw"></i>
              </span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'パスワード' %>
          </div><!-- input-group.// -->
        </div><!-- form-group.// -->


    <div class="form-group">
      <%= f.submit "Log in", class: "btn btn-outline-secondary btn-block" %>
    </div>
    </form>

      </div>
    </div>
  </div>
<% end %>
