// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hdLine4 {
  color: #574b40;
  font-size: 16px;
}
.mb8p {
  margin-bottom: 8px !important;
}
.bgPdg0 {
  background: #fff none repeat scroll 0 0;
  padding: 16px;
  margin: 0 0 32px 0;
}
.profile {
  border-bottom: 1px solid #ece2db;
  margin: 0 0 8px;
  padding: 4px 0 10px;
  display: table;
  width: 100%;
}
.profile dt {
  color: #69a5a4;
  display: table-cell;
  margin: 0 8px 0 0;
  vertical-align: top;
  font-weight: bold;
  border-right: 1px solid #ece2db;
  width: 70px;
}
.profile dd {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 12px;
}