<div class="container">
  <h2>Index</h2>
  <ul>
    <% @votes.each do |vote| %>
      <%= link_to vote_path(vote) do %>
        <li><%= vote.title %></li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to "投票作成する", new_vote_path, class: 'btn btn-success' %>
</div>
